@font-face {
  font-family: "iconfont"; /* Project id 5201418 */
  src: url('iconfont.woff2?t=1782500819949') format('woff2'),
       url('iconfont.woff?t=1782500819949') format('woff'),
       url('iconfont.ttf?t=1782500819949') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-database:before {
  content: "\e60e";
}

.icon-Json:before {
  content: "\e611";
}

.icon-Table:before {
  content: "\e615";
}

.icon-params:before {
  content: "\e625";
}

.icon-limit_rate:before {
  content: "\e633";
}

.icon-moren:before {
  content: "\e634";
}

.icon-mti-GIStiaodu:before {
  content: "\e9e2";
}

.icon-mti-celiang:before {
  content: "\e9e3";
}

.icon-mti-dituqiehuan:before {
  content: "\e9e4";
}

.icon-mti-ditubianji:before {
  content: "\e9e5";
}

.icon-mti-diliweilan:before {
  content: "\e9e6";
}

.icon-mti-erwei:before {
  content: "\e9e7";
}

.icon-mti-duobianxingxuan:before {
  content: "\e9e8";
}

.icon-mti-fengwotu:before {
  content: "\e9e9";
}

.icon-mti-huizhi:before {
  content: "\e9ea";
}

.icon-mti-juliceliang:before {
  content: "\e9eb";
}

.icon-mti-jutai:before {
  content: "\e9ec";
}

.icon-mti-kuangxuan:before {
  content: "\e9ed";
}

.icon-mti-mianjiceliang:before {
  content: "\e9ee";
}

.icon-mti-sandian:before {
  content: "\e9ef";
}

.icon-mti-qingchu:before {
  content: "\e9f0";
}

.icon-mti-relitu:before {
  content: "\e9f1";
}

.icon-mti-quanping:before {
  content: "\e9f2";
}

.icon-mti-sanwei:before {
  content: "\e9f3";
}

.icon-mti-quanxuan:before {
  content: "\e9f4";
}

.icon-mti-sisetu:before {
  content: "\e9f5";
}

.icon-mti-tucengfenlei:before {
  content: "\e9f6";
}

.icon-mti-shiyeneisousuo:before {
  content: "\e9f7";
}

.icon-mti-wodedingwei:before {
  content: "\e9f8";
}

.icon-mti-xinzengmian:before {
  content: "\e9f9";
}

.icon-mti-xianxuan:before {
  content: "\e9fa";
}

.icon-mti-xuanze:before {
  content: "\e9fb";
}

.icon-mti-xinzengxian:before {
  content: "\e9fc";
}

.icon-mti-yangshi:before {
  content: "\e9fd";
}

.icon-mti-yingyantu:before {
  content: "\e9fe";
}

.icon-mti-zongheceliang:before {
  content: "\e9ff";
}

